html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: white;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F6659;
    color: white;
    padding: 12px 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.school-name {
    font-weight: bold;
    font-size: 18px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color 0.2s;
}

.nav-links a:hover {
    color: #CEE2BE;
}

.btn-login {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 6px 14px;
}

.btn-login:hover {
    color: #CEE2BE;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 60px 40px;
    flex-wrap: wrap;
}

.hero-left {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.hero-text {
    max-width: 900px;
}

.hero-text h2 {
    color: black;
    font-size: 30px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 16px;
    line-height: 1.6;
    color: grey;
}

.menu-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 40px 20px;
}

.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
}

.card a {
    text-decoration: none;
    color: #98C98D;
}

.card a:hover {
    color: #CEE2BE;
}

.footer-default {
    text-align: center;
    background-color: #0F6659;
    padding: 15px;
    font-size: 14px;
    color: white;
}